/* 患者详情页面的tabs */
.el-tabs__header {
    margin: 0px;
    border-bottom: 1px solid #dddddd;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border: 1px solid #dddddd;
    border-bottom-color: #fff;
}
.el-tabs__content {
    padding: 40px 20px;
    border: 1px solid #dddddd;
    border-top-color: #fff;
}
.el-tabs__item {
    color: #333333;
}
.el-tabs__item.is-active .fa {
    color: #20a0ff;
}
.el-input {
    width: 240px;
}
.el-textarea {
    width: 330px;
}
.el-alert--error {
    width: 330px;
    margin-top: 10px;
}
/* 侧边栏 */
.el-submenu__title {
    font-size: 16px;
}
.el-menu li i{
    vertical-align: text-top;
}
.el-submenu .el-menu .el-menu-item {
    font-size: 14px !important;
}